
<div class="modal-overlay">
    <div id="form-container">
      <h1>Add Lesson:</h1>
      <form #form="ngForm" (ngSubmit)="saveCourse()">

      <mat-form-field class="form-input">
        <mat-label>title:</mat-label>
        <input matInput #title="ngModel" id="title" [(ngModel)]="lesson.title" name="title" required />
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>content:</mat-label>
        <input matInput #content="ngModel" id="content" [(ngModel)]="lesson.content" name="content" required />
      </mat-form-field>
      <div class="form-buttons">
      <button mat-raised-button type="submit" color="primary" class="btn-save" [disabled]="form.invalid">Save</button>
      <button mat-raised-button (click)="cancel()" class="btn-cancel">cancel</button>
      </div>
    </form>
  </div>
</div>
