<div class="modal-overlay">
    <div id="form-container">
      <form #form="ngForm" (ngSubmit)="saveCourse()">
  
        <mat-form-field class="form-input">
          <mat-label>Course Title</mat-label>
          <input matInput #title="ngModel" id="title" [(ngModel)]="course.title" name="title" required />
        </mat-form-field>
  
        <mat-form-field class="form-input">
          <mat-label>Course Description</mat-label>
          <input matInput #discreption="ngModel" id="discreption" [(ngModel)]="course.description" name="discreption" required />
        </mat-form-field>
  
        <div class="form-buttons">
          <button mat-raised-button type="submit" color="primary" class="btn-save" [disabled]="form.invalid">Save</button>
          <button mat-raised-button (click)="cancel()" class="btn-cancel">Cancel</button>
        </div>
        
      </form>
    </div>
</div>
  